* {
    box-sizing: border-box;
    font-family: 'PF Tempesta Five', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header{
    margin-bottom: 15px;
    align-content: center;
    font-size: 28px;
}

footer h6{
    font-weight: 700;
    font-size: 18px;
}

.board-container{
    width: 29%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-board{
    display: grid;
    width: 550px;
    height: 550px;
    margin-bottom: 30px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-element{
    user-select: none;
    display: grid;
}

button{
    width: 110px;
    height: 40px;
    border: 1.5px solid black;
    padding: 3px 10px;
}

.color{
    display: flex;
    gap: 20px;
}

.color-eraser{
    display: flex;
    align-self: space-around;
    margin-top: 30px;
}

.slider-clear{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    gap: 50px;
}

.slider{
    display: flex;
    flex-direction: column;
}

.slider input{
    width: 200px;
}

.clear-container{
    display: flex;
    flex-direction: row;
}

.grid-board{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

button.active {
    background-color: var(--primary-dark);
    color: var(--primary-light);
  }

  button,
input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}



.grid {
    display: grid;
    width: 500px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .grid-element {
    user-select: none;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }